body{
    margin:0;
    padding:0;
}

h1{
    font-family:inter;
    font-size:150px;
}


.header-top{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    height:10%;
    background-color: #5b5b5b;
}

.header-top img{
    height: 50px;
}

.header-top form{
    display: flex;
    align-items: center;
    gap: 10px;
    width:35%;
    height:160%;
}

.search-bar{
    width:100%;
    border-radius:10px;
    border:1px darkgray solid
}

navbar{
    height: 50px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    justify-content:space-evenly;
    align-items: center;
    gap: 30px;
    
}

navbar a{
    color:black;
    text-decoration:none;
    transition:transform 0.5s ease-in-out;
}

navbar a:hover{
    transform:scale(1.04);
}

.top-data{
    background-color:#FFEBD1;
}