html{
    font-size:16px;
}

body{
    margin:0;
    padding:0;
}

h1{
    font-family:inter;
    font-size:5rem;
}

h2{
    font-family:inter;
    font-size:2.133rem;
}

h3{
    font-family:inter;
    font-size:1.6rem;
    font-weight:bold;
    text-align:center;
}

h4{
    font-family:inter;
    font-size:1.6rem;
    color:white;
    font-weight:bold;
    text-align:center;
}


.header-top{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    height:10%;
    background-color: #5b5b5b;
}

.header-top img{
    height: 50px;
}

.header-top form{
    display: flex;
    align-items: center;
    gap: 10px;
    width:35%;
    height:160%;
}

.search-bar{
    width:100%;
    border-radius:10px;
    border:1px darkgray solid
}

navbar{
    height: 50px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    justify-content:space-evenly;
    align-items: center;
    gap: 30px;
    
}

navbar a{
    color:black;
    text-decoration:none;
    transition:transform 0.5s ease-in-out;
}

navbar a:hover{
    transform:scale(1.04);
}

.first-infos-holder{
    display:flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px 20px;
    gap:2%;
}

.top-data{
    background-color:#FFEBD1;
    margin-bottom:5%;
}

.first-left-side{
    display:flex;
    flex-direction: column;
    width:48%;
}

.first-right-side{
    display:flex;
    flex-direction: column;
    gap:20px;
    width:48%
}

.first-right-side-top{
    display:flex;
    gap:20px;
}

.first-right-side-bottom{
    display:flex;
    gap:20px;
}








.second-infos-holder{
    display:flex;
    gap:2%;
}

.second-left-side{
    display:flex;
    flex-direction:column;
    width:48%;
    background-color:#BDBDBD;
    margin-left:50px;
    width:80%;
    padding:2.5%;
    position:relative;
    bottom:100%;
}

.main-info-cont{
    display:flex;
    width:100%;
}

.right-side-info-holder{
    width:100%;
}

.second-right-side{
    display:flex;
    flex-direction: column;
    gap:5%;
    align-items:center;
}

.img-cont{
    display:flex;
    gap:50px;
}






.datavis-cont{
    display:flex;
    margin-bottom:5%;
}

.datavis-info{
    display:flex;
    flex-direction: column;
    gap:20px;
    width:20%;
    margin-left:5%;
    background-color:#F6F6F6;
    padding:2%;
}

.datavis-rendu{
    width:70%;
    margin-left:5%;
    margin-right:5%;
}










.graph-part{
    background-color:#5B5B5B;
    padding:2%;
}

.graph-part > p{
    color:white;
    text-align:center;
    margin:2% 20%;
}

.graph-cont{
    display:flex;
    justify-content:space-around;
    align-items:center;
    gap:20px;
}

.modifier{
    
}

